@media screen and (max-width: 950px) {
  /* Initially, nav links are not clickable and completely invisible */
  ul.nav-links {
    display: none;
  }

  /* Initially, set height of all li elements except those with class 'brand' to 0, and remove padding and margin */
  ul.nav-links li:not(.brand) {
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }

  /* When menu-open class is applied, make nav links visible, clickable, and set height */
  body.menu-open ul.nav-links {
    display: block;
  }

  body.menu-open ul.nav-links a.nav-link {
    pointer-events: auto;
  }

  body.menu-open ul.nav-links li {
    height: auto;
  }
}